<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <style>
        .input-wrapper div {
            margin-bottom: 10px;
        }

        .remove-input {
            margin-top: 10px;
            margin-left: 15px;
            vertical-align: text-bottom;
        }

        .add-input {
            margin-top: 10px;
            margin-left: 10px;
            vertical-align: text-bottom;
        }

        .img-button {
            max-height: 18px;
            max-width: 20px;
        }
    </style>
</head>

<body>
    <div style="width:85%;padding:50px;">
        <h2>Ideia é ter um formulário de questões onde vai ter os campos das questões e um botão de submit, onde ao pressionar esse botão
            irá disparar um evento para salvar os dados preenchidos no arquivo js presetado do pacote disponivel, depois quando finalizar, 
            encaminhar para o botão de baixar o pacote.
            </h2>
        {% if message %}
        <div class="alert alert-success">{{message}}</div>
        {% endif %}
        <form method="POST">
            <div class="input-wrapper">
                <div class="form__fieldset">
                    <label for="answer-question" class="form__label"> Resposta da questão: </label>
                    <input type="text" name="answer-question-field[]" value="" id="answer-question" class="form__input" /> <br>
                    <label for="text-question" class="form__label"> Texto da questão </label>
                    <input type="text-question" name="text-question-field[]" id="text-question" class="form__input" />
                    <a href="javascript:void(0);" class="add-input" title="Add input"><img src="/static/plus.png"
                            class="img-button" /></a>
                </div>
            </div>
                <input type="submit" name="cmdsubmit">
        </form>

    </div>
    <script>
        $(document).ready(function () {
            var max_input_fields = 40;
            var add_input = $('.add-input');
            var input_wrapper = $('.input-wrapper');
            var new_input = '<div><input type="text" name="field[]" value=""/><a href="javascript:void(0);" class="remove-input" title="Remove input"><img src="/static/minus.png"/ class="img-button"></a></div>';
            // var new_input = '<div class="form__fieldset"><label for="answer-question" class="form__label"> Resposta da questão: </label><input type="text" name="answer-question-field[]" id="answer-question" class="form__input" /><a href="javascript:void(0);" class="add-input" title="Add input"><img src="/static/plus.png"class="img-button" /></a></div>';
            var new_input = '<div class="form__fieldset"><label for="answer-question" class="form__label"> Resposta da questão: </label><input type="text" name="answer-question-field[]" value="" id="answer-question" class="form__input" /><br><label for="text-question" class="form__label"> Texto da questão </label><input type="text-question" name="text-question-field[]" id="text-question" class="form__input" /><a href="javascript:void(0);"  class="remove-input" title="Remove input"><img src="/static/minus.png"/ class="img-button" /></a></div>'
            
            var add_input_count = 1;
            $(add_input).click(function () {
                if (add_input_count < max_input_fields) {
                    add_input_count++;
                    $(input_wrapper).append(new_input);
                }
            });
            $(input_wrapper).on('click', '.remove-input', function (e) {
                e.preventDefault();
                $(this).parent('div').remove();
                add_input_count--;
            });
        });
    </script>
</body>

</html>